<div>
    User: {{post.username}}
    <p>{{post.postText}}</p>
    <span>{{post.timestamp}}</span>
</div>
<div class="comments-container">
    Comments:
    <ul>
        <li *ngFor="let comment of post.comments">
            User: {{comment.username}}
            <p>{{comment.commentText}}</p>
            <span>{{comment.timestamp}}</span>
        </li>
    </ul>
    <div>
        <button (click)="commentOpen = true;">+Add Comment</button>
    </div>
    <div class="new-comment-area" *ngIf="commentOpen">
        <button (click)="commentOpen = false;">Cancel</button>
        User:
        <input type="text" [(ngModel)]="commentUser" required>
        <textarea name="" id="" cols="20" rows="5" [(ngModel)]="commentText"></textarea>
        <button (click)="clearComment()">Clear</button>
        <button (click)="submitComment()" [disabled]="commentUser == ''">Submit Comment</button>
    </div>
</div>