<div *ngIf="!editMode">
    <h5>{{post.user.username}}</h5>
    <h5>{{post.timestamp}}</h5>
    <p>{{post.postText}}</p>
    <button (click)="editPost()">Edit</button>
</div>
<div *ngIf="editMode">
    <h5>{{post.user.username}}</h5>
    <h5>{{post.timestamp}}</h5>
    <mat-form-field class="example-full-width">
        <textarea matInput
            name="postText" 
            [(ngModel)]="editText">
        </textarea>
    </mat-form-field>
    <button type="submit" (click)="submitPost()">Submit Post</button>
</div>
<div class="comments-container">
    Comments:
    <ul>
        <li *ngFor="let comment of post.commentList">
            <app-comment [comment]="comment"></app-comment>
            <button (click)="deleteComment(comment.id)">Delete</button>
        </li>
    </ul>
    <div>
        <button (click)="commentOpen = true;">+Add Comment</button>
    </div>
    <div class="new-comment-area" *ngIf="commentOpen">
        <button (click)="commentOpen = false;">Cancel</button>
        User:
        <input type="text" [(ngModel)]="commentUser" required>
        <textarea name="" id="" cols="20" rows="5" [(ngModel)]="commentText"></textarea>
        <button (click)="clearComment()">Clear</button>
        <button (click)="submitComment()" [disabled]="commentUser == ''">Submit Comment</button>
    </div>
</div>